@media (min-width: 768px) {
    main {
        max-width: 80%;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    #hamburger {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        background-color: transparent;
    }
}